<h1>Shot Timer Profile Lookup</h1>

<h2>Enter a username to look up</h2>
<form action="/" method="POST">
    <div>
        <input type="text" name="username" placeholder="Username" required autofocus/>
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>