<h1>Please log in</h1>
<form action="/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="" autocomplete="off" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required="" autocomplete="off" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>

    <script nonce="{{nonce}}" src="https://accounts.google.com/gsi/client" async></script>
    <div id="g_id_onload"
        data-client_id="25097725097-cosievqnipfm8hm246eqh8t1dm7t2cct.apps.googleusercontent.com"
        data-login_uri="https://didactic-space-computing-machine-vjw49r55jxg2wv4r-3000.app.github.dev/login"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
</form>

<a href="/register">Don't have an account?</a>